# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

5×5 DataFrame
 Row │ user_id  age    gender   occupation  zip_code
     │ Int64    Int64  String1  String15    String7
─────┼───────────────────────────────────────────────
   1 │       1     24  M        technician  85711
   2 │       2     53  F        other       94043
   3 │       3     23  M        writer      32067
   4 │       4     24  M        technician  43537
   5 │       5     33  F        other       15213

### Step 4. Discover what is the mean age per occupation

21×2 DataFrame
 Row │ occupation     age_mean
     │ String15       Float64
─────┼─────────────────────────
   1 │ technician      33.1481
   2 │ other           34.5238
   3 │ writer          36.3111
   4 │ executive       38.7188
   5 │ administrator   38.7468
   6 │ student         22.0816
   7 │ lawyer          36.75
   8 │ educator        42.0105
  ⋮  │       ⋮           ⋮
  15 │ engineer        36.3881
  16 │ marketing       37.6154
  17 │ none            26.5556
  18 │ healthcare      41.5625
  19 │ retired         63.0714
  20 │ salesman        35.6667
  21 │ doctor          43.5714
                 6 rows omitted

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

21×2 DataFrame
 Row │ occupation     male_ratio
     │ String15       Float64
─────┼───────────────────────────
   1 │ doctor           100.0
   2 │ engineer          97.0149
   3 │ technician        96.2963
   4 │ retired           92.8571
   5 │ programmer        90.9091
   6 │ executive         90.625
   7 │ scientist         90.3226
   8 │ entertainment     88.8889
  ⋮  │       ⋮            ⋮
  15 │ writer            57.7778
  16 │ none              55.5556
  17 │ administrator     54.4304
  18 │ artist            53.5714
  19 │ librarian         43.1373
  20 │ healthcare        31.25
  21 │ homemaker         14.2857
                   6 rows omitted

### Step 6. For each occupation, calculate the minimum and maximum ages

21×3 DataFrame
 Row │ occupation     age_minimum  age_maximum
     │ String15       Int64        Int64
─────┼─────────────────────────────────────────
   1 │ technician              21           55
   2 │ other                   13           64
   3 │ writer                  18           60
   4 │ executive               22           69
   5 │ administrator           21           70
   6 │ student                  7           42
   7 │ lawyer                  21           53
   8 │ educator                23           63
  ⋮  │       ⋮             ⋮            ⋮
  15 │ engineer                22           70
  16 │ marketing               24           55
  17 │ none                    11           55
  18 │ healthcare              22           62
  19 │ retired                 51           73
  20 │ salesman                18           66
  21 │ doctor                  28           64
                                 6 rows omitted

### Step 7. For each combination of occupation and gender, calculate the mean age

41×3 DataFrame
 Row │ occupation     gender   age_mean
     │ String15       String1  Float64
─────┼──────────────────────────────────
   1 │ technician     M         32.9615
   2 │ technician     F         38.0
   3 │ other          M         34.029
   4 │ other          F         35.4722
   5 │ writer         M         35.3462
   6 │ writer         F         37.6316
   7 │ executive      M         38.1724
   8 │ executive      F         44.0
  ⋮  │       ⋮           ⋮        ⋮
  35 │ healthcare     M         45.4
  36 │ healthcare     F         39.8182
  37 │ retired        M         62.5385
  38 │ retired        F         70.0
  39 │ salesman       M         38.5556
  40 │ salesman       F         27.0
  41 │ doctor         M         43.5714
                         26 rows omitted

### Step 8.  For each occupation present the percentage of women and men

21×6 DataFrame
 Row │ occupation     count  male_count  female_count  male_percentage  female ⋯
     │ String15       Int64  Int64       Int64         Float64          Float6 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ technician        27          26             1          96.2963         ⋯
   2 │ other            105          69            36          65.7143
   3 │ writer            45          26            19          57.7778
   4 │ executive         32          29             3          90.625
   5 │ administrator     79          43            36          54.4304         ⋯
   6 │ student          196         136            60          69.3878
   7 │ lawyer            12          10             2          83.3333
   8 │ educator          95          69            26          72.6316
  ⋮  │       ⋮          ⋮        ⋮            ⋮               ⋮                ⋱
  15 │ engineer          67          65             2          97.0149         ⋯
  16 │ marketing         26          16            10          61.5385
  17 │ none               9           5             4          55.5556
  18 │ healthcare        16           5            11          31.25
  19 │ retired           14          13             1          92.8571         ⋯
  20 │ salesman          12           9             3          75.0
  21 │ doctor             7           7             0         100.0
                                                     1 column and 6 rows omitted

### Overall Percentage

41×3 DataFrame
 Row │ occupation     gender   proportion
     │ String15       String1  Float64
─────┼────────────────────────────────────
   1 │ technician     M          2.75716
   2 │ technician     F          0.106045
   3 │ other          M          7.31707
   4 │ other          F          3.8176
   5 │ writer         M          2.75716
   6 │ writer         F          2.01485
   7 │ executive      M          3.07529
   8 │ executive      F          0.318134
  ⋮  │       ⋮           ⋮         ⋮
  35 │ healthcare     M          0.530223
  36 │ healthcare     F          1.16649
  37 │ retired        M          1.37858
  38 │ retired        F          0.106045
  39 │ salesman       M          0.954401
  40 │ salesman       F          0.318134
  41 │ doctor         M          0.742312
                           26 rows omitted