# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

### Step 2. Create 3 differents Vector, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

### Step 3. Let's create a DataFrame with bedrs = col1, bathrs = col2, and price_sqr_meter = col3

5×3 DataFrame
 Row │ bathrs  bedrs  price_sqr_meter
     │ Int64   Int64  Int64
─────┼────────────────────────────────
   1 │      3      2            27224
   2 │      3      4            14955
   3 │      3      4            19925
   4 │      2      3            22352
   5 │      1      3            27540

### Step 4. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

300×1 DataFrame
 Row │ bigcolumns
     │ Int64
─────┼────────────
   1 │          2
   2 │          4
   3 │          4
   4 │          3
   5 │          3
   6 │          4
   7 │          3
   8 │          1
  ⋮  │     ⋮
 294 │      29862
 295 │      16104
 296 │      12707
 297 │      11123
 298 │      20443
 299 │      14554
 300 │      12518
  285 rows omitted