# Fictional Army - Filtering and Sorting

### Introduction:

This exercise was inspired by this [page](http://chrisalbon.com/python/)

Special thanks to: https://github.com/chrisalbon for sharing the dataset and materials.

### Step 1. Import the necessary libraries

### Step 2. This is the data given as a dictionary

In [2]:
# Create an example dataframe about a fictional army
raw_data = Dict("regiment" => String["Nighthawks", "Nighthawks", "Nighthawks", "Nighthawks", "Dragoons", "Dragoons", "Dragoons", "Dragoons", "Scouts", "Scouts", "Scouts", "Scouts"],
            "company" => String["1st", "1st", "2nd", "2nd", "1st", "1st", "2nd", "2nd","1st", "1st", "2nd", "2nd"],
            "deaths"=> Int[523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            "battles"=> Int[5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            "size"=> Int[1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            "veterans"=> Int[1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            "readiness"=> Int[1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            "armored"=> Int[1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            "deserters"=> Int[4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            "origin"=> String["Arizona", "California", "Texas", "Florida", "Maine", "Iowa", "Alaska", "Washington", "Oregon", "Wyoming", "Louisana", "Georgia"])

Dict{String, Vector} with 10 entries:
  "deaths"    => [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35]
  "battles"   => [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9]
  "veterans"  => [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345]
  "company"   => ["1st", "1st", "2nd", "2nd", "1st", "1st", "2nd", "2nd", "1st"…
  "armored"   => [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1]
  "regiment"  => ["Nighthawks", "Nighthawks", "Nighthawks", "Nighthawks", "Drag…
  "size"      => [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099,…
  "readiness" => [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3]
  "deserters" => [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3]
  "origin"    => ["Arizona", "California", "Texas", "Florida", "Maine", "Iowa",…

### Step 3. Create a dataframe and assign it to a variable called army.

### Step 4. Print only the column veterans

### Step 5. Print the columns 'veterans' and 'deaths'

### Step 6. Print the name of all the columns.

### Step 7. Select the 'deaths', 'size' and 'deserters' columns from Maine and Alaska

### Step 8. Select the rows 3 to 7 and the columns 3 to 6

### Step 9. Select every row after the fourth row and all columns

### Step 10. Select every row up to the 4th row and all columns

### Step 11. Select the 3rd column up to the 7th column

### Step 12. Select rows where deaths is greater than 50

### Step 13. Select rows where deaths is greater than 500 or less than 50

### Step 14. Select all the regiments not named "Dragoons"

### Step 15. Select the rows called Texas and Arizona

### Step 16. Select the third cell in the row named Arizona

### Step 17. Select the third cell down in the column named deaths