# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

5×14 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight  acceleration  mod ⋯
     │ Float64  Int64      Int64         String3     Int64   Float64       Int ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    18.0          8           307  130           3504          12.0      ⋯
   2 │    15.0          8           350  165           3693          11.5
   3 │    18.0          8           318  150           3436          11.0
   4 │    16.0          8           304  150           3433          12.0
   5 │    17.0          8           302  140           3449          10.5      ⋯
                                                               8 columns omitted

5×9 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight  acceleration  mod ⋯
     │ Float64  Int64      Int64         String3     Int64   Float64       Int ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    33.0          4            91  53            1795          17.4      ⋯
   2 │    20.0          6           225  100           3651          17.7
   3 │    18.0          6           250  78            3574          21.0
   4 │    18.5          6           250  110           3645          16.2
   5 │    17.5          6           258  95            3193          17.8      ⋯
                                                               3 columns omitted

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

5×9 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight  acceleration  mod ⋯
     │ Float64  Int64      Int64         String3     Int64   Float64       Int ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    18.0          8           307  130           3504          12.0      ⋯
   2 │    15.0          8           350  165           3693          11.5
   3 │    18.0          8           318  150           3436          11.0
   4 │    16.0          8           304  150           3433          12.0
   5 │    17.0          8           302  140           3449          10.5      ⋯
                                                               3 columns omitted

### Step 5. What is the number of observations in each dataset?

n_observations_cars1 = (198, 9)
n_observations_cars2 = (200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

3×9 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight  acceleration  mod ⋯
     │ Float64  Int64      Int64         String3     Int64   Float64       Int ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    18.0          8           307  130           3504          12.0      ⋯
   2 │    15.0          8           350  165           3693          11.5
   3 │    18.0          8           318  150           3436          11.0
                                                               3 columns omitted

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

nr_owners = [31773, 60393, 54442, 68173, 48611, 23320, 37841, 62290, 48456, 30101, 53905, 25883, 32955, 58807, 41901, 25182, 49151, 40772, 41649, 41823, 32566, 49061, 35008, 40470, 37243, 44504, 37129, 44254, 69608, 50710, 42261, 50050, 66400, 40420, 31980, 68536, 21177, 16707, 69830, 48150, 54085, 38497, 49993, 23977, 27640, 43919, 36021, 22459, 62168, 54538, 52565, 19875, 37320, 60287, 49363, 34648, 60135, 36125, 37649, 68957, 51453, 69495, 60272, 54912, 23387, 48297, 48233, 15381, 39032, 20646, 48470, 48022, 15331, 43569, 50313, 38224, 28140, 50356, 21781, 24654, 70273, 51689, 41900, 17556, 37828, 66145, 20538, 61751, 50180, 26854, 28998, 63136, 52601, 33975, 51558, 63855, 72589, 61463, 39941, 34713, 37730, 71496, 21576, 23037, 46769, 48488, 38520, 23091, 17907, 45916, 45842, 68683, 36085, 35524, 65966, 38284, 70431, 26234, 43681, 29073, 23277, 41310, 52684, 39363, 39654, 50427, 48014, 58614, 23990, 48748, 47528, 69135, 39026, 37394, 17376, 51491, 31288, 21725, 67974, 28635, 66033, 30177, 62705, 70312, 24239, 24042, 47031, 51855, 61063, 50016, 51490, 42471, 38363, 53156, 34811, 64287, 44828, 49506, 21621, 24251, 71494, 56700, 15149, 26756, 58663, 29386, 53134, 70476, 40729, 59839, 65108, 43254, 46584, 35377, 24013, 70221, 56599, 61863, 16235, 19863, 63819, 50098, 68767, 59410, 29599, 67143, 41663, 53330, 46175, 26831, 19009, 67572, 48154, 53745, 59360, 50474, 40372, 55777, 47776, 40343, 35607, 59185, 36028, 62502, 29348, 41435, 53343, 71947, 69442, 23346, 55960, 34176, 69042, 23546, 21003, 71123, 63424, 38329, 16991, 42473, 49074, 72203, 29823, 64018, 65830, 37891, 50543, 51876, 24894, 36042, 39341, 54449, 42924, 34256, 32994, 41460, 21457, 48891, 54546, 28163, 58003, 47298, 37698, 32819, 27793, 18900, 30964, 49844, 21748, 21609, 55345, 27907, 21193, 59616, 45477, 39540, 26366, 51803, 63000, 55181, 66312, 45826, 71341, 22575, 22980, 19120, 27111, 32164, 20122, 20582, 64800, 66336, 45811, 45192, 20557, 52188, 46757, 53890, 66401, 59759, 44490, 33386, 29567, 38495, 15177, 30616, 32388, 55863, 16228, 41042, 18890, 24441, 32301, 69651, 69135, 21068, 59372, 18803, 15602, 65950, 63901, 19359, 66264, 60283, 49458, 64297, 25670, 24898, 24029, 30541, 64098, 54457, 46473, 17635, 58861, 27120, 26929, 65667, 68823, 53235, 52885, 69672, 56589, 43538, 15411, 21620, 53151, 46377, 36334, 62609, 55970, 58836, 51833, 16223, 37831, 16083, 15938, 28599, 43132, 17145, 52243, 67570, 70524, 60722, 38385, 53598, 22767, 50778, 15939, 64135, 18383, 39129, 66148, 46700, 27563, 17733, 44819, 40507, 70131, 66719, 66443, 58214, 59930, 51016, 60032, 35148, 34370, 41248, 64695, 55782, 39578, 15013, 67533, 37565, 55549, 26640, 34044, 56920, 21533, 49278, 36473, 17963, 63629, 20069, 65559, 43044, 16099, 37848, 53272, 38982, 33948, 54612, 22364, 27070, 18269, 31389, 35810, 19545]

### Step 8. Add the column owners to cars

3×10 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight  acceleration  mod ⋯
     │ Float64  Int64      Int64         String3     Int64   Float64       Int ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    18.0          8           307  130           3504          12.0      ⋯
   2 │    15.0          8           350  165           3693          11.5
   3 │    18.0          8           318  150           3436          11.0
                                                               4 columns omitted