# Fictitious Names

### Introduction:

This time you will create a data again 

Special thanks to [Chris Albon](http://chrisalbon.com/) for sharing the dataset and materials.
All the credits to this exercise belongs to him.  

In order to understand about it go [here](https://blog.codinghorror.com/a-visual-explanation-of-sql-joins/).

### Step 1. Import the necessary libraries

### Step 2. Create the 3 DataFrames based on the following raw data

### Step 3. Assign each to a variable called data1, data2, data3

### Step 4. Join the two dataframes along rows and assign all_data

10×3 DataFrame
 Row │ first_name  last_name  subject_id
     │ String      String     String
─────┼───────────────────────────────────
   1 │ Alex        Anderson   1
   2 │ Amy         Ackerman   2
   3 │ Allen       Ali        3
   4 │ Alice       Aoni       4
   5 │ Ayoung      Atiches    5
   6 │ Billy       Bonder     4
   7 │ Brian       Black      5
   8 │ Bran        Balwner    6
   9 │ Bryce       Brice      7
  10 │ Betty       Btisan     8

### Step 5. Join the two dataframes along columns and assing to all_data_col

5×6 DataFrame
 Row │ first_name  last_name  subject_id  first_name_1  last_name_1  subject_i ⋯
     │ String      String     String      String        String       String    ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Alex        Anderson   1           Billy         Bonder       4         ⋯
   2 │ Amy         Ackerman   2           Brian         Black        5
   3 │ Allen       Ali        3           Bran          Balwner      6
   4 │ Alice       Aoni       4           Bryce         Brice        7
   5 │ Ayoung      Atiches    5           Betty         Btisan       8         ⋯
                                                                1 column omitted

### Step 6. Print data3

10×2 DataFrame
 Row │ subject_id  test_id
     │ String      Int64
─────┼─────────────────────
   1 │ 1                51
   2 │ 2                15
   3 │ 3                15
   4 │ 4                61
   5 │ 5                16
   6 │ 7                14
   7 │ 8                15
   8 │ 9                 1
   9 │ 10               61
  10 │ 11               16

### Step 7. Merge all_data and data3 along the subject_id value

13×4 DataFrame
 Row │ first_name  last_name  subject_id  test_id
     │ String?     String?    String      Int64?
─────┼────────────────────────────────────────────
   1 │ Alex        Anderson   1                51
   2 │ Amy         Ackerman   2                15
   3 │ Allen       Ali        3                15
   4 │ Alice       Aoni       4                61
   5 │ Billy       Bonder     4                61
   6 │ Ayoung      Atiches    5                16
   7 │ Brian       Black      5                16
   8 │ Bryce       Brice      7                14
   9 │ Betty       Btisan     8                15
  10 │ Bran        Balwner    6           missing
  11 │ missing     missing    9                 1
  12 │ missing     missing    10               61
  13 │ missing     missing    11               16

### Step 8. Merge only the data that has the same 'subject_id' on both data1 and data2

5×5 DataFrame
 Row │ first_name  last_name  subject_id  first_name_1  last_name_1
     │ String      String     String      String?       String?
─────┼──────────────────────────────────────────────────────────────
   1 │ Alice       Aoni       4           Billy         Bonder
   2 │ Ayoung      Atiches    5           Brian         Black
   3 │ Alex        Anderson   1           missing       missing
   4 │ Amy         Ackerman   2           missing       missing
   5 │ Allen       Ali        3           missing       missing

2×5 DataFrame
 Row │ first_name  last_name  subject_id  first_name_1  last_name_1
     │ String      String     String      String?       String?
─────┼──────────────────────────────────────────────────────────────
   1 │ Alice       Aoni       4           Billy         Bonder
   2 │ Ayoung      Atiches    5           Brian         Black

### Step 9. Merge all values in data1 and data2, with matching records from both sides where available.

8×5 DataFrame
 Row │ first_name  last_name  subject_id  first_name_1  last_name_1
     │ String?     String?    String      String?       String?
─────┼──────────────────────────────────────────────────────────────
   1 │ Alice       Aoni       4           Billy         Bonder
   2 │ Ayoung      Atiches    5           Brian         Black
   3 │ Alex        Anderson   1           missing       missing
   4 │ Amy         Ackerman   2           missing       missing
   5 │ Allen       Ali        3           missing       missing
   6 │ missing     missing    6           Bran          Balwner
   7 │ missing     missing    7           Bryce         Brice
   8 │ missing     missing    8           Betty         Btisan