# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

5×6 DataFrame
 Row │ country      beer_servings  spirit_servings  wine_servings  total_litre ⋯
     │ String31     Int64          Int64            Int64          Float64     ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Afghanistan              0                0              0              ⋯
   2 │ Albania                 89              132             54
   3 │ Algeria                 25                0             14
   4 │ Andorra                245              138            312
   5 │ Angola                 217               57             45              ⋯
                                                               2 columns omitted

### Step 4. Which continent drinks more beer on average?

6×2 DataFrame
 Row │ continent  beer_servings_mean
     │ String3    Float64
─────┼───────────────────────────────
   1 │ AS                    37.0455
   2 │ EU                   193.778
   3 │ AF                    61.4717
   4 │ NA                   145.435
   5 │ SA                   175.083
   6 │ OC                    89.6875

### Step 5. For each continent print the statistics for wine consumption.

GroupedDataFrame with 6 groups based on key: continent
First Group (44 rows): continent = "AS"
 Row │ country               beer_servings  spirit_servings  wine_servings  to ⋯
     │ String31              Int64          Int64            Int64          Fl ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Afghanistan                       0                0              0     ⋯
   2 │ Bahrain                          42               63              7
  ⋮  │          ⋮                  ⋮               ⋮               ⋮           ⋱
  43 │ Vietnam                         111                2              1
  44 │ Yemen                             6                0              0
                                                   2 columns and 40 rows omitted
⋮
Last Group (16 rows): continent = "OC"
 Row │ country           beer_servings  spirit_servings  wine_servings  total_ ⋯
     │ String31          Int64          Int64            Int64          Float6 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Australia                   261               72            212         ⋯
   2 │ Cook Islands                  0              254             74
  ⋮  │        ⋮                ⋮               ⋮               ⋮               ⋱
  16 │ Vanuatu                      21               18             11
                                                   2 columns and 13 rows omitted

6×9 DataFrame
 Row │ continent  count_wine_servings  mean_wine_servings  std_wine_servings   ⋯
     │ String3    Int64                Float64             Float64             ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ AS                          44             9.06818            21.667    ⋯
   2 │ EU                          45           142.222              97.4217
   3 │ AF                          53            16.2642             38.8464
   4 │ NA                          23            24.5217             28.2664
   5 │ SA                          12            62.4167             88.6202   ⋯
   6 │ OC                          16            35.625              64.5558
                                                               5 columns omitted

### Step 6. Print the mean alcohol consumption per continent for every column

6×5 DataFrame
 Row │ continent  beer_servings_mean  spirit_servings_mean  wine_servings_mean ⋯
     │ String3    Float64             Float64               Float64            ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ AS                    37.0455               60.8409             9.06818 ⋯
   2 │ EU                   193.778               132.556            142.222
   3 │ AF                    61.4717               16.3396            16.2642
   4 │ NA                   145.435               165.739             24.5217
   5 │ SA                   175.083               114.75              62.4167  ⋯
   6 │ OC                    89.6875               58.4375            35.625
                                                                1 column omitted

### Step 7. Print the median alcohol consumption per continent for every column

6×5 DataFrame
 Row │ continent  beer_servings_median  spirit_servings_median  wine_servings_ ⋯
     │ String3    Float64               Float64                 Float64        ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ AS                         17.5                    16.0                 ⋯
   2 │ EU                        219.0                   122.0
   3 │ AF                         32.0                     3.0
   4 │ NA                        143.0                   137.0
   5 │ SA                        162.5                   108.5                 ⋯
   6 │ OC                         52.5                    37.0
                                                               2 columns omitted

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

6×4 DataFrame
 Row │ continent  spirit_servings_mean  spirit_servings_minimum  spirit_servin ⋯
     │ String3    Float64               Int64                    Int64         ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ AS                      60.8409                        0                ⋯
   2 │ EU                     132.556                         0
   3 │ AF                      16.3396                        0
   4 │ NA                     165.739                        68
   5 │ SA                     114.75                         25                ⋯
   6 │ OC                      58.4375                        0
                                                                1 column omitted