# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [ ]:
using DotEnv
using Pkg

DotEnv.load!()
path = ENV["ENV_PATH"]
Pkg.activate(path)

using CSV
using DataFrames
using Plots
using Statistics
using Dates

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
raw_data = Dict(
    "evolution" => ["Ivysaur", "Charmeleon", "Wartortle", "Metapod"],
    "hp" => [45, 39, 44, 45],
    "name" => ["Bulbasaur", "Charmander", "Squirtle", "Caterpie"],
    "pokedex" => ["yes", "no", "yes", "no"],
    "type" => ["grass", "fire", "water", "bug"]
);

### Step 3. Assign it to a variable called pokemon

In [3]:
pokemon = DataFrame(raw_data)

4×5 DataFrame
 Row │ evolution   hp     name        pokedex  type
     │ String      Int64  String      String   String
─────┼────────────────────────────────────────────────
   1 │ Ivysaur        45  Bulbasaur   yes      grass
   2 │ Charmeleon     39  Charmander  no       fire
   3 │ Wartortle      44  Squirtle    yes      water
   4 │ Metapod        45  Caterpie    no       bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [4]:
pokemon = pokemon[!, ["name", "type", "hp", "evolution", "pokedex"]];

### Step 5. Add another column called place, and insert what you have in mind.

In [5]:
pokemon[!, "place"] = ["Medan", "Tembung", "Batam", "Daejon"];

### Step 6. Present the type of each column

In [6]:
eltype.(eachcol(pokemon))

6-element Vector{DataType}:
 String
 String
 Int64
 String
 String
 String

### BONUS: Create your own question and answer it.