# Regiment

### Introduction:

Special thanks to: http://chrisalbon.com/ for sharing the dataset and materials.

### Step 1. Import the necessary libraries

### Step 2. Create the DataFrame with the following values:

In [2]:
raw_data = Dict(
        "regiment"=> ["Nighthawks", "Nighthawks", "Nighthawks", "Nighthawks", "Dragoons", "Dragoons", "Dragoons", "Dragoons", "Scouts", "Scouts", "Scouts", "Scouts"], 
        "company"=> ["1st", "1st", "2nd", "2nd", "1st", "1st", "2nd", "2nd","1st", "1st", "2nd", "2nd"], 
        "name"=> ["Miller", "Jacobson", "Ali", "Milner", "Cooze", "Jacon", "Ryaner", "Sone", "Sloan", "Piger", "Riani", "Ali"], 
        "preTestScore"=> [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        "postTestScore"=> [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70])

Dict{String, Vector} with 5 entries:
  "preTestScore"  => [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3]
  "name"          => ["Miller", "Jacobson", "Ali", "Milner", "Cooze", "Jacon", …
  "postTestScore" => [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]
  "company"       => ["1st", "1st", "2nd", "2nd", "1st", "1st", "2nd", "2nd", "…
  "regiment"      => ["Nighthawks", "Nighthawks", "Nighthawks", "Nighthawks", "…

### Step 3. Assign it to a variable called regiment.

5-element Vector{String}:
 "company"
 "name"
 "postTestScore"
 "preTestScore"
 "regiment"

### Step 4. What is the mean preTestScore from the regiment Nighthawks?

3×2 DataFrame
 Row │ regiment    preTestScore_mean
     │ String      Float64
─────┼───────────────────────────────
   1 │ Nighthawks              15.25
   2 │ Dragoons                15.5
   3 │ Scouts                   2.5

### Step 5. Present general statistics by company

1×7 DataFrame
 Row │ variable  mean     min     median   max     nmissing  eltype
     │ Symbol    Nothing  String  Nothing  String  Int64     DataType
─────┼────────────────────────────────────────────────────────────────
   1 │ company            1st              2nd            0  String

### Step 6. What is the mean of each company's preTestScore?

2×2 DataFrame
 Row │ company  preTestScore_mean
     │ String   Float64
─────┼────────────────────────────
   1 │ 1st                6.66667
   2 │ 2nd               15.5

### Step 7. Present the mean preTestScores grouped by regiment and company

6×3 DataFrame
 Row │ regiment    company  preTestScore_mean
     │ String      String   Float64
─────┼────────────────────────────────────────
   1 │ Nighthawks  1st                   14.0
   2 │ Nighthawks  2nd                   16.5
   3 │ Dragoons    1st                    3.5
   4 │ Dragoons    2nd                   27.5
   5 │ Scouts      1st                    2.5
   6 │ Scouts      2nd                    2.5

### Step 8. Present the mean preTestScores grouped by regiment and company

6×3 DataFrame
 Row │ regiment    company  preTestScore_mean
     │ String      String   Float64
─────┼────────────────────────────────────────
   1 │ Nighthawks  1st                   14.0
   2 │ Nighthawks  2nd                   16.5
   3 │ Dragoons    1st                    3.5
   4 │ Dragoons    2nd                   27.5
   5 │ Scouts      1st                    2.5
   6 │ Scouts      2nd                    2.5

### Step 9. Group the entire dataframe by regiment and company

6×4 DataFrame
 Row │ regiment    company  postTestScore_mean  preTestScore_mean
     │ String      String   Float64             Float64
─────┼────────────────────────────────────────────────────────────
   1 │ Nighthawks  1st                    59.5               14.0
   2 │ Nighthawks  2nd                    59.5               16.5
   3 │ Dragoons    1st                    47.5                3.5
   4 │ Dragoons    2nd                    75.5               27.5
   5 │ Scouts      1st                    66.0                2.5
   6 │ Scouts      2nd                    66.0                2.5

### Step 10. What is the number of observations in each regiment and company

6×3 DataFrame
 Row │ regiment    company  n_observations
     │ String      String   Int64
─────┼─────────────────────────────────────
   1 │ Nighthawks  1st                   2
   2 │ Nighthawks  2nd                   2
   3 │ Dragoons    1st                   2
   4 │ Dragoons    2nd                   2
   5 │ Scouts      1st                   2
   6 │ Scouts      2nd                   2

### Step 11. Iterate over a group and print the name and the whole data from the regiment

Regiment: Nighthawks, Name: Miller
Regiment: Nighthawks, Name: Jacobson
Regiment: Nighthawks, Name: Ali
Regiment: Nighthawks, Name: Milner
Regiment: Dragoons, Name: Cooze
Regiment: Scouts, Name: Sloan
Regiment: Dragoons, Name: Jacon
Regiment: Dragoons, Name: Ryaner
Regiment: Dragoons, Name: Sone
Regiment: Scouts, Name: Piger
Regiment: Scouts, Name: Riani
Regiment: Scouts, Name: Ali