# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [ ]:
using DotEnv
using Pkg
DotEnv.load!()
Pkg.activate(ENV["ENV_PATH"])

using CSV
using Dates
using Downloads
using DataFrames
using Statistics

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

and create columns for the dataset
1. sepal_length (in cm)
2. sepal_width (in cm)
3. petal_length (in cm)
4. petal_width (in cm)
5. class

In [2]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
columns = ["sepal_length (in cm)", "sepal_width (in cm)", "petal_length (in cm)", "petal_width (in cm)", "class"]
file = Downloads.download(url)
iris = CSV.read(file, DataFrame, header = columns)

first(iris, 5)

5×5 DataFrame
 Row │ sepal_length (in cm)  sepal_width (in cm)  petal_length (in cm)  petal_ ⋯
     │ Float64               Float64              Float64               Float6 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │                  5.1                  3.5                   1.4         ⋯
   2 │                  4.9                  3.0                   1.4
   3 │                  4.7                  3.2                   1.3
   4 │                  4.6                  3.1                   1.5
   5 │                  5.0                  3.6                   1.4         ⋯
                                                               2 columns omitted

### Step 4.  Is there any missing value in the dataframe?

In [3]:
for col in eachcol(iris)
    println(any(ismissing.(col)))
end

false
false
false
false
false

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [4]:
iris[10:29, 3] .= NaN
first(iris, 20)

20×5 DataFrame
 Row │ sepal_length (in cm)  sepal_width (in cm)  petal_length (in cm)  petal_ ⋯
     │ Float64               Float64              Float64               Float6 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │                  5.1                  3.5                   1.4         ⋯
   2 │                  4.9                  3.0                   1.4
   3 │                  4.7                  3.2                   1.3
   4 │                  4.6                  3.1                   1.5
   5 │                  5.0                  3.6                   1.4         ⋯
   6 │                  5.4                  3.9                   1.7
   7 │                  4.6                  3.4                   1.4
   8 │                  5.0                  3.4                   1.5
  ⋮  │          ⋮                     ⋮                    ⋮                   ⋱
  14 │                  4.3                  3.0                 NaN           ⋯
  15 │                  5.8                  4.0                 NaN
  16 │                  5.7                  4.4                 NaN
  17 │                  5.4                  3.9                 NaN
  18 │                  5.1                  3.5                 NaN           ⋯
  19 │                  5.7                  3.8                 NaN
  20 │                  5.1                  3.8                 NaN
                                                    2 columns and 5 rows omitted

### Step 7. Good, now lets substitute the NaN values to 1.0

In [5]:
iris[10:29, 3] .= 1.0;

### Step 8. Now let's delete the column class

In [6]:
select!(iris, Not([:class]));

### Step 9.  Set the first 3 rows as NaN

In [7]:
iris[1:3, :] .= NaN

3×4 SubDataFrame
 Row │ sepal_length (in cm)  sepal_width (in cm)  petal_length (in cm)  petal_ ⋯
     │ Float64               Float64              Float64               Float6 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │                  NaN                  NaN                   NaN         ⋯
   2 │                  NaN                  NaN                   NaN
   3 │                  NaN                  NaN                   NaN
                                                                1 column omitted

### Step 10.  Delete the rows that have NaN

In [8]:
filter!(row -> all(x -> !(x isa AbstractFloat && isnan(x)), row), iris)
first(iris, 3)

3×4 DataFrame
 Row │ sepal_length (in cm)  sepal_width (in cm)  petal_length (in cm)  petal_ ⋯
     │ Float64               Float64              Float64               Float6 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │                  4.6                  3.1                   1.5         ⋯
   2 │                  5.0                  3.6                   1.4
   3 │                  5.4                  3.9                   1.7
                                                                1 column omitted

### BONUS: Create your own question and answer it.