# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

### Step 4. See the first 10 entries

10×7 DataFrame
 Row │ Column1  Id     Name      Year   Gender   State    Count
     │ Int64    Int64  String15  Int64  String1  String3  Int64
─────┼──────────────────────────────────────────────────────────
   1 │   11349  11350  Emma       2004  F        AK          62
   2 │   11350  11351  Madison    2004  F        AK          48
   3 │   11351  11352  Hannah     2004  F        AK          46
   4 │   11352  11353  Grace      2004  F        AK          44
   5 │   11353  11354  Emily      2004  F        AK          41
   6 │   11354  11355  Abigail    2004  F        AK          37
   7 │   11355  11356  Olivia     2004  F        AK          33
   8 │   11356  11357  Isabella   2004  F        AK          30
   9 │   11357  11358  Alyssa     2004  F        AK          29
  10 │   11358  11359  Sophia     2004  F        AK          28

### Step 5. Delete the column 'Column1' and 'Id'

3×5 DataFrame
 Row │ Name      Year   Gender   State    Count
     │ String15  Int64  String1  String3  Int64
─────┼──────────────────────────────────────────
   1 │ Emma       2004  F        AK          62
   2 │ Madison    2004  F        AK          48
   3 │ Hannah     2004  F        AK          46

### Step 6. Is there more male or female names in the dataset?

2×2 DataFrame
 Row │ Gender   nrow
     │ String1  Int64
─────┼─────────────────
   1 │ F        558846
   2 │ M        457549

### Step 7. Group the dataset by name and assign to names_

### Step 8. How many different names exist in the dataset?

17632×2 DataFrame
   Row │ Name       nrow
       │ String15   Int64
───────┼──────────────────
     1 │ Emma         566
     2 │ Madison      588
     3 │ Hannah       562
     4 │ Grace        565
     5 │ Emily        565
     6 │ Abigail      562
     7 │ Olivia       566
     8 │ Isabella     566
   ⋮   │     ⋮        ⋮
 17626 │ Luanna         1
 17627 │ Yuepheng       1
 17628 │ Kong           1
 17629 │ Adrion         1
 17630 │ Braun          1
 17631 │ Evrett         1
 17632 │ Coalton        1
        17617 rows omitted

### Step 9. What is the name with most occurrences?

1×2 DataFrame
 Row │ Name      Count_sum
     │ String15  Int64
─────┼─────────────────────
   1 │ Jacob        242874

### Step 10. How many different names have the least occurrences?

2578

### Step 11. What is the median name occurrence?

66×2 DataFrame
 Row │ Name        Count_sum
     │ String15    Int64
─────┼───────────────────────
   1 │ Shalyn             49
   2 │ Jamiracle          49
   3 │ Kynsley            49
   4 │ Jkwon              49
   5 │ Zuleima            49
   6 │ Riot               49
   7 │ Ryatt              49
   8 │ Cristine           49
  ⋮  │     ⋮           ⋮
  60 │ Trinton            49
  61 │ Aziah              49
  62 │ Kyndle             49
  63 │ Reghan             49
  64 │ Ridwan             49
  65 │ Nazier             49
  66 │ Sanjuanita         49
              51 rows omitted

### Step 12. What is the standard deviation of names?

11006.06946789057

### Step 13. Get a summary with the mean, min, max, std and quartiles.

1×7 DataFrame
 Row │ count  mean     min    max     q1       q2       q3
     │ Int64  Float64  Int64  Int64   Float64  Float64  Float64
─────┼──────────────────────────────────────────────────────────
   1 │ 17632  2008.93      5  242874     11.0     49.0    337.0